body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .dropdown-menu {
    background-color: #333333;
}

body.dark-mode .dropdown-menu a,
body.dark-mode .dropdown-menu button {
    color: #ffffff;
}

body.dark-mode .dropdown-menu a:hover,
body.dark-mode .dropdown-menu button:hover {
    background-color: #444444;
}

body.dark-mode .dropdown-button {
    background-color: #007bff;
    color: white;
}

body.dark-mode .dropdown-button:hover {
    background-color: #0056b3;
}
