.wrapper-main-2 {
    .sidebar{

    }
    .top-bar {
     
        .heading-content-1{
            justify-content: center;
            align-items: center;
            
            img{
                border-radius: 50%;
                width: 60px;
                height: 45px;
            }

        }
        .heading-content-2 {
            box-shadow: 0 2px 2px 0  rgba(0, 0, 0, 0.232);

            position: relative;
            width: 150px;
            display: flex;
            .name{
                flex: 1;
                cursor: pointer;
                text-align: center;
            }
            .logout-darkmode{
                display: none;
                width: 100%;
                position: absolute;
                top: 100%;
                margin-top: 10px;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                gap:10px;
                box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.232);

               
                a{
                    text-decoration: none;
                    color: black;
                }
            }

            

           
        }
    }



}