body {
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



    .Signup {
        display: flex;
        flex-direction: column;
        width: 420px;
        background-color: rgba(245, 245, 245, 0.236);
        border-radius: 10px;
        padding: 20px 30px;
        backdrop-filter: blur(6px);
        box-shadow: 0 0 10px rgba(225, 225, 225, 0);
       
      


        h1 {
            display: flex;
            font-size: 40px;
            text-align: center;
            font-family: 'Montserrat';
            background: linear-gradient(#0C134F, #1D267D, #5C469C, #D4ADFC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        }

        h3 {
            display: flex;
            font-size: 20px;
            text-align: center;
            font-family: 'Montserrat';
            background: linear-gradient(#0C134F, #1D267D, #5C469C, #D4ADFC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .sign-up {
            display: flex;
            flex-direction: column;
            

            .FLname {
                background: linear-gradient(#0C134F, #1D267D, #5C469C, #D4ADFC);
                -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                display: flex;
                gap: 10px;

                .input-box1 {
                    margin: 10px 0;
                    display: flex;
                    flex-direction: column;

                    input {
                        display: flex;
                        width: 100%;
                        height: 40px;
                        background: white;
                        border: 2px solid #0C134F;
                        border-radius: 10px;
                        font-size: 16px;
                        padding: 0 20px;
                        box-sizing: border-box;
                        color: black;
                    }

                    input:focus,
                    input:valid {
                       
                        border: 4px solid #43f049;
                        
                    }

                    input::placeholder {
                       
                    }

                }



            }

            .input-box {
                
                margin: 10px 0;
                display: flex;
                flex-direction: column;

                input {
                    display: flex;
                    width: 100%;
                    height: 40px;
                    background: transparent;
                    border: 2px solid #0C134F;
                    border-radius: 10px;
                    font-size: 16px;
                    padding: 0 20px;
                    box-sizing: border-box;
                }

                input:focus,
                input:valid {
                    border: 4px solid #66ff00;
                }

                input::placeholder {
                }

            }
            .MDY{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 10px;
                
                .birday{
                    display: flex;
                    flex-grow: 1;

                    .happy{
                        display: flex;
                        font-size: 17px;
                      
                    }
                    select{
                        background-color: transparent;
                        border: 2px solid #0C134F;
                        border-radius: 10px;
                        padding-left: 5px;
                    }

                }
            }
            .gndr{
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding: 10px;
                color: black;
                .FM{
                    display: flex;
                    flex-grow: 1;
                    select{
                        background-color: transparent;
                        border: 2px solid #0C134F;
                        border-radius: 10px;
                        padding-left: 5px;
                    }
                    
                    
                }
            }

            .learnmore {
                font-family: 'Montserrat';
                    font-size: 14px;
                    text-align: center;
                    padding-top: 20px;
                    a{
                        text-decoration: underline rgba(0, 0, 0, 0.529);
                        
                    }
            }

            .terms {  
                    font-family: 'Montserrat';
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 20px;
            }


            .signupbutton {
                width: 100%;
                height: 45px;
                background: transparent;
                border: 0.5px solid #0C134F;
                outline: none;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                font-size: 18px;
                color: #333;
                font-weight: 600;
                margin-top: 15px;
            }

            .register-link {
                font-family: 'Montserrat';
                font-size: 18px;
                text-align: center;
                margin-top: 20px;

              

               
            }
        }
    }
}